header {
    background-color :antiquewhite;
    color:rgb(117, 17, 104);
    height: 90px;
    text-align: center
    }
    div#no1 { 
        font-size: 50px;
        margin: 10px;
    }
    li a {
      color: rgb(182, 51, 149);
      text-decoration: #fff;
    }
  ul#n1 {
    display: inline;
    padding: 30px;
    font-size: 20px;
  }
  h1 {
      color: rgb(243, 102, 179);
      font-size: 40px;
      text-align: center;
      margin: 30px;
      padding: 10px;
      background-color: rgb(240, 215, 231);

  }
  div#no2 {
      color: crimson;
      font-size: 25px;
      text-align: center;
      margin: 30px;
      padding: 10px;
  }
h2 {
    color: rgb(243, 102, 179);
      font-size: 40px;
      text-align: center;
      margin: 30px;
      padding: 10px;
      background-color: rgb(236, 232, 234);
}
h6 {
  color: rgb(175, 33, 140);
      font-size: 40px;
      text-align: center;
      margin: 30px;
      padding: 10px;
      background-color: rgb(172, 161, 166);

}

   div#no3 {
    color: rgb(238, 128, 150);
    font-size: 25px;
    text-align: center;
    margin: 30px;
    padding: 10px;
   }
   img {
    text-align: center;
    margin: 20px;
    padding: 10px;
   }
   h3 {
    color: rgb(243, 102, 179);
      font-size: 40px;
      text-align: center;
      margin: 30px;
      padding: 5px;
      background-color: rgb(248, 241, 245);
}
   div#no4 {
    color: rgb(175, 68, 90);
    font-size: 25px;
    text-align: center;
    margin: 30px;
    padding: 10px;
   }
   h4 {
    color: rgb(243, 102, 179);
      font-size: 40px;
      text-align: center;
      margin: 30px;
      padding: 5px;
      background-color: rgb(253, 215, 215);
   }
   div#no5 {
    color: rgb(187, 87, 107);
    font-size: 25px;
    text-align: center;
    margin: 30px;
    padding: 10px;
   }
   h5 {
    color: rgb(175, 87, 135);
    font-size: 40px;
    text-align: center;
    margin: 30px;
    padding: 5px;
    background-color: rgb(226, 200, 200);
   }
   ul#n2 {
    color: rgb(101, 72, 128);
    font-size: 25px;
    text-align: center;
    margin: 20px;
    padding: 10px;
  }   
  ul#n3 {
    color: rgb(167, 83, 245);
    font-size: 25px;
    text-align: center;
    margin: 20px;
    padding: 10px;
  }
  ol {
    color: rgb(222, 157, 241);
    font-size: 25px;
    text-align: center;
    margin: 20px;
    padding: 10px;

  }
footer {
    text-align: center;
}
